    <div class="container" style="padding-top: 80px;">
      <div class="col-xs-12">
        <div class="text-center">
          <button type="button" class="btn btn-secondary tenant__btn active pill pill-left">For Tenants</button>
          <button type="button" class="btn btn-secondary landlord__btn pill pill-right">For LandLords</button>
        </div>
      </div>
    </div>

    <div class="container" style = "margin-top: 80px;">
      <div class="row tenant-info-page text-center">
        <div class="col-sm">
          <img class="process-icon" src="assets/img/tenant-1.svg" />
        </div>

        <div class="col-sm">
          <img class="process-icon" src="assets/img/tenant-2.svg" />
        </div>

        <div class="col-sm">
          <img class="process-icon" src="assets/img/tenant-3.svg" />
        </div>
      </div>

      <div class="row tenant-info-page">
        <div class="col-sm process">
          <p class="landlord-heading"><span>1. </span>Search Fast, Search Smart</p>
          <p>Browse hundreds of properties in your city of choice. Save your favorites and set up search alerts so you don't miss your dream place!</p>
        </div>
        <div class="col-sm process">
          <p class="landlord-heading"><span>2. </span>Real-Time Chat With Real People</p>
          <p>Communicate directly with advertisaers. If all goes well, one of these verified users will become your new landlord!</p>
        </div>
        <div class="col-sm process">
          <p class="landlord-heading"><span>3. </span>Book and Pay Online, Securely</p>
          <p>Once you pay the first's month rent, the place is yours. We protect your money and transfer it to the landlord only 48 hours after you've moved-in.</p>
        </div>
      </div>
      <div class="text-center" style="margin: 40px 0 0;">
        <button class="btn btn-primary tenant-btn" type="button" name="button">Find your perfect place</button>
      </div>
    </div>

    <div class="container">
      <div class="row landlord-info-page text-center">
        <div class="col-sm">
          <img class="process-icon" src="assets/img/landlord-3.svg" />
        </div>

        <div class="col-sm">
          <img class="process-icon" src="assets/img/landlord-1.svg" />
        </div>

        <div class="col-sm">
          <img class="process-icon" src="assets/img/landlord-2.svg" />
        </div>
      </div>

      <div class="row landlord-info-page">
        <div class="col-sm process">
          <p class="landlord-heading"><span>1. </span>List Your Place</p>
          <p>Create your listings within 5 minutes and make your properties visible to the world!</p>
        </div>
        <div class="col-sm process">
          <p class="landlord-heading"><span>2. </span>Rent It Out</p>
          <p>Receive contact requests, select your favourite tenants and confirm the booking.</p>
        </div>
        <div class="col-sm process">
          <p class="landlord-heading"><span>3. </span>Get Paid</p>
          <p>Get paid out after your tenant has successfully moved-in.</p>
        </div>
      </div>
      <div class="text-center" style="margin: 40px 0 0;">
        <button class="btn btn-primary landlord-btn" type="button" name="button">List Your Properties For Free</button>
      </div>
    </div>

    <!-- wave svg + testimonials-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute;">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,64L60,90.7C120,117,240,171,360,160C480,149,600,75,720,69.3C840,64,960,128,1080,154.7C1200,181,1320,171,1380,165.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>

    <div class="container-fluid px-0 .full-background for-tl-testimonial" id="testimonial">
      <div id="testimonial-description">
        <h2 class="display-4">This is Suzie, She just booked her new home</h2>
        <p>"I needed a place for relatively low price. Home Fetch helped me find a perfect home with minimal budget!"</p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute;">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,64L60,90.7C120,117,240,171,360,160C480,149,600,75,720,69.3C840,64,960,128,1080,154.7C1200,181,1320,171,1380,165.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>

    <div class="container-fluid px-0 .full-background for-tl-testimonial2" id="testimonial2">
      <div id="testimonial-description">
        <h2 class="display-4">This is Alex. He just booked his new home.</h2>
        <p>"I was looking for a new apartment for ages, but as soon as I found Home Fetch, the decision was instant."</p>
        <button class = "btn btn-primary call-to-action" type = "button" name="button">Find the Perfect Place</button>
      </div>
    </div>
