.pill {
  padding: 15px 20px;
  width: 200px;
}

.pill-left {
  border-radius: 500px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pill-right {
  border-radius: 500px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.process-icon {
  margin-bottom: 20px;
}

.landlord-heading {
  font-size: 22px;
  color: #db2d8e;
}

.wave {
  height: 5rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MjAiIGhlaWdodD0iODAiIHZpZXdCb3g9IjAgMCA5MjBweCA4MCI+PHBhdGggZD0iTTAgMTMuOVMxNzkuNSA0OS4zIDI5NiA0OS4zQzM5Ny41IDQ5LjMgNTI1LjggMCA3MjAgMHMzNzQuOSA0OS4zIDQ1OCA0OS4zYzExMyAwIDI2Mi0zNS41IDI2Mi0zNS41VjgwLjRIMFoiIGZpbGw9IiNmOGY5ZmEiLz48L3N2Zz4=);
  transform: rotate(180deg);
}

#testimonial {
  background-image: url("../../assets/img/testimonial2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
}

#testimonial2 {
  background-image: url("../../assets/img/testimonial.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
}

#testimonial-description{
  padding-top: 250px;
  margin-left: 80px;
  width: 650px;
  max-width: calc(100% - 160px);
}

.container-fluid {
  padding: 0;
}

.testimonial-header {
  font-size: 3rem;
  color: white;
}

.testimonial-body {
  color: white;
  font-size: 20px;
  width: 500px;
  margin: 40px 0;
  max-width: 100% - 160px;
}

.call-to-action {
  padding: 17px;
  background-image: linear-gradient(105deg, #2879cc 0%, #db2d83 100%);
  border: none;
}