    <div class="container">
      <div class="col-xs-12">
        <div class="text-center">
          <button type="button" class="btn btn-secondary tenant__btn active">For Tenants</button>
          <button type="button" class="btn btn-secondary landlord__btn">For LandLords</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row text-center tenant-info-page">
        <div class="col-sm">
          <h1>What we do</h1>
          <p>lorem ibpum</p>
        </div>
        <div class="col-sm">
          <h1>What we do</h1>
          <p>lorem ibpum</p>
        </div>
        <div class="col-sm">
          <h1>What we do</h1>
          <p>lorem ibpum</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary tenant-btn" type="button" name="button">Learn More</button>
      </div>
    </div>

    <div class="container">
      <div class="row text-center landlord-info-page">
        <div class="col-sm">
          <h1>What we do 2</h1>
          <p>lorem ibpum</p>
        </div>
        <div class="col-sm">
          <h1>What we do 2</h1>
          <p>lorem ibpum</p>
        </div>
        <div class="col-sm">
          <h1>What we do 2</h1>
          <p>lorem ibpum</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary landlord-btn" type="button" name="button">Learn More 2</button>
      </div>
    </div>
