<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Home Fetch</h1>
      <h2 id="form-search" class="masthead-subheading mb-0">For both tenant and landlord</h2>
      <form class="">
        <input id="input-search" class="form-control w-50 mx-auto" type="text" placeholder="Search" aria-label="Search">
      </form>
  </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
