.carousel-indicators {
  filter: invert(1);
}

.carousel-control-prev {
  width:80px;
}

.carousel-control-next {
  width:80px;
}

.carousel-item {
  max-height: 500px;
}

.carousel-item img {
  height: 500px;
  width: 100%;
}

#carousel-slide {
  padding-top: 80px;
  padding-bottom: 80px;
}

#input-search {
  font-size: 18px;
  padding: 20px 12px 23px;
  margin-top: 15px;
}
