<div class="container-fluid">
    <h2>Hundres of Cities Around the World</h2>
    <h2 style = "margin-bottom: 40px;">Where Will You Stay?</h2>
    <div class = "row">
      <div class = "col-sm">
        <a href = ""><strong>Amsterdam</strong>, Netherlands</a>
        <a href = ""><strong>Athens</strong>, Greece</a>
        <a href = ""><strong>Barcelona</strong>, Spain</a>
        <a href = ""><strong>Berkeley</strong>, United States</a>
        <a href = ""><strong>Berlin</strong>, Germany</a>
        <a href = ""><strong>Bilbao</strong>, Spain</a>
        <a href = ""><strong>Bologna</strong>, Italy</a>
        <a href = ""><strong>Bordeaux</strong>, France</a>
      </div>
      <div class = "col-sm">
        <a href = ""><strong>Brussels</strong>, Belgium</a>
        <a href = ""><strong>Columbus</strong>, United States</a>
        <a href = ""><strong>Copenhagen</strong>, Denmark</a>
        <a href = ""><strong>Cordova</strong>, Spain</a>
        <a href = ""><strong>Delft</strong>, Netherlands</a>
        <a href = ""><strong>Dublin</strong>, Ireland</a>
        <a href = ""><strong>Florence</strong>, Italy</a>
        <a href = ""><strong>Frankfurt am Main</strong>, Germany</a>
      </div>
      <div class = "col-sm">
        <a href = ""><strong>Gothenburg</strong>, Sweden</a>
        <a href = ""><strong>Granada</strong>, Spain</a>
        <a href = ""><strong>Hamburg</strong>, Germany</a>
        <a href = ""><strong>Helsinki</strong>, Finland</a>
        <a href = ""><strong>Leiden</strong>, Netherlands</a>
        <a href = ""><strong>Lisbon</strong>, Portugal</a>
        <a href = ""><strong>Ljubljana</strong>, Slovenia</a>
        <a href = ""><strong>London</strong>, United Kingdom</a>
      </div>
      <div class = "col-sm">
        <a href = ""><strong>Los Angeles</strong>, United States</a>
        <a href = ""><strong>Lyon</strong>, France</a>
        <a href = ""><strong>Maastricht</strong>, Netherlands</a>
        <a href = ""><strong>Madrid</strong>, Spain</a>
        <a href = ""><strong>Milan</strong>, Italy</a>
        <a href = ""><strong>Montpellier</strong>, France</a>
        <a href = ""><strong>Munich</strong>, Germany</a>
        <a href = ""><strong>Pisa</strong>, Italy</a>
      </div>
      <div class = "col-sm">
        <a href = ""><strong>Prague</strong>, Czech Republic</a>
        <a href = ""><strong>Reykjavik</strong>, Iceland</a>
        <a href = ""><strong>Rome</strong>, Italy</a>
        <a href = ""><strong>Rotterdam</strong>, Netherlands</a>
        <a href = ""><strong>Seville</strong>, Spain</a>
        <a href = ""><strong>Shang Hai</strong>, China</a>
        <a href = ""><strong>Stockholm</strong>, Sweden</a>
        <a href = ""><strong>Strasbourg</strong>, France</a>
      </div>
      <div class = "col-sm">
        <a href = ""><strong>The Hague</strong>, Netherlands</a>
        <a href = ""><strong>Toronto</strong>, Canada</a>
        <a href = ""><strong>Turin</strong>, Italy</a>
        <a href = ""><strong>Utrecht</strong>, Netherlands</a>
        <a href = ""><strong>Valencia</strong>, Spain</a>
        <a href = ""><strong>Vienna</strong>, Austria</a>
      </div>
    </div>
</div>
