#testimonial {
  background-image: url("../../assets/img/testimonial.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
}

#testimonial-description{
  padding-top: 250px;
}

.container-fluid {
  padding: 0;
}
